<h4>FriendModel</h4>
<form action="" name="insertFrdForm">
    <label for="FriendID">Friend ID</label>
    <input type="text" id="txtnfrdId" name="txtnfrdId" />

    <label for="FriendName">FriendName</label>
    <input id="txtnfrdName" name="txtnfrdName" type="text" />

    <label for="Place">Place</label>
    <input type="text" id="txtnfrdPlace" name="txtnfrdPlace" />

    <input id="btnAddFriend" type="submit" value="Save" />
</form>

